@{
    ViewBag.Title = "Hakkında";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*hakkında yazısı ve ayarlamaları*@
<h1 class="mt-4 text-center">Hakkında</h1>
<br />
<br />
@*hakkında yazısı ve ayarlamaları*@
<div style="width:max-content; margin:auto; font-family:'Bell MT'; font-weight:500; font-size:20px"> Bu Proje Ali Şarlı Tarafından Yapılmıştır Tüm Hakları Saklıdır &copy;</div>

